* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar {
  width: 100%;
  background-color: navy;
  height: 8vh;
  padding: 10px;
  padding-left: 30px;
  position: sticky;
}
h1 {
  color: white;
  font-size: 5vh;
  text-align: left;
}
.container {
  display: grid;
  height: fit-content;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
  row-gap: 20px;
}
.kartica:hover {
  transform: scale(1.1);
  transition: 0.7s;
  /* filter: grayscale(0); */
  filter: grayscale(0);
}

.kartica {
  margin-top: 10px;
  align-self: center;
  justify-self: center;
  width: 16.5rem;
  height: 22rem;
  background-color: #fff;
  border-radius: 10px;
  padding: 21px;
  box-shadow: 0 0 10px rgba(255, 1, 1, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.kartica img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10%;
}
a {
  text-decoration: none;
  color: red;
  cursor: pointer;
}
.kartica h2 {
  text-decoration: none;
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.kartica p {
  align-self: center;
  margin-top: 5%;
}
