* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 8vh;
  background-color: rgb(43, 18, 205);
  color: white;
}
h1 {
  padding: 1.7vh 4vh;
}
.container {
  width: 100%;
  height: 92vh;
  background-color: beige;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  row-gap: 20px;
  margin-top: 20px;
}
.kartica {
  /* height: 25vh; */
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 10px;
  background-color: rgb(245, 245, 245);
}
img {
  height: 16vh;
  width: 100%;
}
h3 {
  font-size: 15px;
}
a {
  cursor: pointer;
}
.kartica:hover {
  transform: scale(1.05);
}
